<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.mltds.mapper.ObjectinfoMapper">
    <!--    void addObjectInfo(Map<String, Object> map);-->
    <insert id="saveObjectInfo">
        insert into mltds_objectinfo
        <set>
            <if test="_parameter.containsKey('id')  &amp;&amp; id != null">
                id=#{id},
            </if>
            <if test="_parameter.containsKey('imageId')  &amp;&amp; imageId != null">
                image_id=#{imageId},
            </if>
            <if test="_parameter.containsKey('taskId')  &amp;&amp; taskId != null">
                task_id=#{taskId},
            </if>
            <if test="_parameter.containsKey('confidence')  &amp;&amp; confidence != null">
                confidence=#{confidence},
            </if>
            <if test="_parameter.containsKey('classname') &amp;&amp; classname != &quot;&quot; &amp;&amp; classname != null">
                classname=#{classname},
            </if>
            <if test="_parameter.containsKey('typename') &amp;&amp; typename != &quot;&quot; &amp;&amp; typename != null">
                typename=#{typename},
            </if>
            <if test="_parameter.containsKey('shipNumber') &amp;&amp; shipNumber != &quot;&quot; &amp;&amp; shipNumber != null">
                ship_number=#{shipNumber},
            </if>
            <if test="_parameter.containsKey('isDeleted') &amp;&amp;  isDeleted != null">
                is_deleted=#{isDeleted},
            </if>
            <if test="_parameter.containsKey('imageCenterX')  &amp;&amp; imageCenterX != null">
                image_center_x=#{imageCenterX},
            </if>
            <if test="_parameter.containsKey('imageCenterY')  &amp;&amp; imageCenterY != null">
                image_center_y=#{imageCenterY},
            </if>
            <if test="_parameter.containsKey('geoCenterLongitude')  &amp;&amp; geoCenterLongitude != null">
                geo_center_longitude=#{geoCenterLongitude},
            </if>
            <if test="_parameter.containsKey('geoCenterLatitude')  &amp;&amp; geoCenterLatitude != null">
                geo_center_latitude=#{geoCenterLatitude},
            </if>
            <if test="_parameter.containsKey('bboxP1X') &amp;&amp; bboxP1X != null">
                bbox_p1_x=#{bboxP1X},
            </if>
            <if test="_parameter.containsKey('bboxP1Y')  &amp;&amp; bboxP1Y != null">
                bbox_p1_y=#{bboxP1Y},
            </if>
            <if test="_parameter.containsKey('bboxP2X')  &amp;&amp; bboxP2X != null">
                bbox_p2_x=#{bboxP2X},
            </if>
            <if test="_parameter.containsKey('bboxP2Y')  &amp;&amp; bboxP2Y != null">
                bbox_p2_y=#{bboxP2Y},
            </if>
            <if test="_parameter.containsKey('bboxP3X')  &amp;&amp; bboxP3X != null">
                bbox_p3_x=#{bboxP3X},
            </if>
            <if test="_parameter.containsKey('bboxP3Y')  &amp;&amp; bboxP3Y != null">
                bbox_p3_y=#{bboxP3Y},
            </if>
            <if test="_parameter.containsKey('bboxP4X')  &amp;&amp; bboxP4X != null">
                bbox_p4_x=#{bboxP4X},
            </if>
            <if test="_parameter.containsKey('bboxP4Y')  &amp;&amp; bboxP4Y != null">
                bbox_p4_y=#{bboxP4Y},
            </if>
            <if test="_parameter.containsKey('geoBboxP1X')  &amp;&amp; geoBboxP1X != null">
                geo_bbox_p1_x=#{geoBboxP1X},
            </if>
            <if test="_parameter.containsKey('geoBboxP1Y')  &amp;&amp; geoBboxP1Y != null">
                geo_bbox_p1_y=#{geoBboxP1Y},
            </if>
            <if test="_parameter.containsKey('geoBboxP2X')  &amp;&amp; geoBboxP2X != null">
                geo_bbox_p2_x=#{geoBboxP2X},
            </if>
            <if test="_parameter.containsKey('geoBboxP2Y')  &amp;&amp; geoBboxP2Y != null">
                geo_bbox_p2_y=#{geoBboxP2Y},
            </if>
            <if test="_parameter.containsKey('geoBboxP3X')  &amp;&amp; geoBboxP3X != null">
                geo_bbox_p3_x=#{geoBboxP3X},
            </if>
            <if test="_parameter.containsKey('geoBboxP3Y')  &amp;&amp; geoBboxP3Y != null">
                geo_bbox_p3_y=#{geoBboxP3Y},
            </if>
            <if test="_parameter.containsKey('geoBboxP4X')  &amp;&amp; geoBboxP4X != null">
                geo_bbox_p4_x=#{geoBboxP4X},
            </if>
            <if test="_parameter.containsKey('geoBboxP4Y')  &amp;&amp; geoBboxP4Y != null">
                geo_bbox_p4_y=#{geoBboxP4Y},
            </if>
            <if test="_parameter.containsKey('targetSlicePath') &amp;&amp; targetSlicePath != &quot;&quot; &amp;&amp; targetSlicePath != null">
                target_slice_path=#{targetSlicePath},
            </if>
            <if test="_parameter.containsKey('fixTargetSlicePath') &amp;&amp; fixTargetSlicePath != &quot;&quot; &amp;&amp; fixTargetSlicePath != null">
                fix_target_slice_path=#{fixTargetSlicePath},
            </if>
            <if test="_parameter.containsKey('areaSlicePath') &amp;&amp; areaSlicePath != &quot;&quot; &amp;&amp; areaSlicePath != null">
                area_slice_path=#{areaSlicePath},
            </if>
            <if test="_parameter.containsKey('detectedTime') &amp;&amp; detectedTime != &quot;&quot; &amp;&amp; detectedTime != null">
                detected_time=#{detectedTime},
            </if>
<!--            <if test="_parameter.containsKey('createTime') &amp;&amp; createTime != &quot;&quot; &amp;&amp; createTime != null">-->
<!--                create_time=#{createTime},-->
<!--            </if>-->
<!--            <if test="_parameter.containsKey('updateTime') &amp;&amp; updateTime != &quot;&quot; &amp;&amp; updateTime != null">-->
<!--                update_time=#{updateTime},-->
<!--            </if>-->
        </set>
    </insert>

<!--    <insert id="saveObjectInfoDTO" parameterType="com.learning.mltds.dto.ObjectinfoDTO">-->
<!--        insert into mltds_objectinfo (imageId, taskId, confidence, classname, typename, shipNumber, isDeleted)-->
<!--    </insert>-->
<!--    <select id="searchObjectinfo" resultType="com.learning.mltds.entity.Objectinfo">-->
<!--        SELECT * FROM mltds_objectinfo obj LEFT JOIN mltds_task task ON obj.task_id = task.id-->
<!--        <where>-->
<!--            <if test="condition.getFilename != null">-->
<!--                and obj.=#{condition.getFilename}-->
<!--            </if>-->
<!--&lt;!&ndash;            <if test="condition.getConfidenceGte != null || condition.getConfidenceGte != null">&ndash;&gt;-->
<!--&lt;!&ndash;                and obj.filename=#{condition.getFilename}&ndash;&gt;-->
<!--&lt;!&ndash;            </if>&ndash;&gt;-->
<!--            <if test="condition.getClassname != null">-->
<!--                and obj.classname=#{condition.getClassname}-->
<!--            </if>-->
<!--&lt;!&ndash;            <if test="condition.getClassname != null">&ndash;&gt;-->
<!--&lt;!&ndash;                and obj.classname=#{condition.getClassname}&ndash;&gt;-->
<!--&lt;!&ndash;            </if>&ndash;&gt;-->
<!--        </where>-->
<!--        LIMIT #{limitFirst}, #{limitSecond}-->
<!--    </select>-->

    <select id="getAllPage" resultType="com.learning.mltds.entity.Objectinfo">
        SELECT * FROM mltds_objectinfo obj
        LEFT JOIN mltds_task task ON obj.task_id = task.id
        LEFT JOIN mltds_imageinfo img ON img.id = obj.image_id
            <where>
                obj.is_deleted = 0
                <if test="condition.filename != null">
                    and filename=#{condition.filename}
                </if>
                <!--            <if test="condition.getConfidenceGte != null || condition.getConfidenceGte != null">-->
                <!--                and obj.filename=#{condition.getFilename}-->
                <!--            </if>-->
                <if test="condition.classname != null">
                    and obj.classname=#{condition.classname}
                </if>
                <!--            <if test="condition.getClassname != null">-->
                <!--                and obj.classname=#{condition.getClassname}-->
                <!--            </if>-->
            </where>
        <if test="order == true">
            ORDER BY obj.id DESC
        </if>
    </select>
</mapper>
